<div class="container">
  <h1 class="mt-3">Mon profil</h1>
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <div class="row">
          <div class="col-md-8">
            <h5>Mes poissons</h5>
          </div>
          <div class="col-md-4 text-end">
            <%= link_to new_owner_shark_path, class: "blue" do %>
              <i class="fa-solid fa-plus fa-lg" style="color: #00a6cf;"></i>
            <% end %>
          </div>
        </div>
        <div class="border-top"></div>
        <% @sharks.where(owner: current_user).each do |shark| %>
          <li class="list-group-item">
            <div style="display: flex; align-items: center;">
            <%= cl_image_tag shark.photos.first.key, style: "width: 30px; height: 30px; margin-right: 10px; border-radius: 50%" %>
            <%= link_to shark.name, shark_path(shark) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-8">
      <h3>En cours de validation</h3>
        <p> Le propriétaire validera bientôt votre réservation</p>
        <% if @user_bookings.present?%>
          <div class="cards">
            <% @user_bookings.each do |booking| %>
              <%= link_to shark_path(booking.shark), class: "text-decoration-none", style: "color: inherit" do %>
                <div class="card-product">
                    <%= cl_image_tag booking.shark.photos.first.key %>
                  <div class="card-product-infos">
                    <h4><%= booking.shark.name %></h4>
                    <p><%= truncate(booking.shark.description, length:50) %></p>
                    <%= booking.start_date.strftime("%d %B") %> - <%= booking.ending_date.strftime("%d %B") %>
                    <% number_of_days = booking.ending_date - booking.start_date %>
                    <% total_price = booking.shark.price_per_day * number_of_days %>
                    <p><%= total_price %> €</p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p>Oups! Aucune réservation trouvée.</p>
        <% end %>

      <h3>Validés</h3>

      <div class="cards">
        <% if @validate_bookings.present?%>
          <% @validate_bookings.each do |booking| %>
            <%= link_to shark_path(booking.shark), class: "text-decoration-none", style: "color: inherit" do %>
              <div class="card-product">
                <%= cl_image_tag booking.shark.photos.first.key %>
                <div class="card-product-infos">
                  <h4><%= booking.shark.name %></h4>
                  <p><%= booking.shark.description %></p>
                  <%= booking.start_date.strftime("%d %B") %> - <%= booking.ending_date.strftime("%d %B") %>
                  <% number_of_days = booking.ending_date - booking.start_date %>
                  <% total_price = booking.shark.price_per_day * number_of_days %>
                  <p><%= total_price %> €</p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p>Oups! Aucune réservation trouvée.</p>
        <% end %>
      </div>

      <div class="border-top"></div>

        <h3>En attente de validation</h3>
          <p>Ces poissons demandent à être loués, veuillez accepter ou refuser la location.</p>
        <div class="cards">
        <% @incoming_bookings.each do |booking| %>
          <div class="card-product">
            <%= cl_image_tag booking.shark.photos.first.key %>
              <div class="card-product-infos">
                <h4><%= booking.shark.name %></h4>
                <p><%= booking.start_date.strftime("%d %B") %> - <%= booking.ending_date.strftime("%d %B") %></p>
                <% number_of_days = booking.ending_date - booking.start_date %>
                <% total_price = booking.shark.price_per_day * number_of_days %>
                <p><%= total_price %> €</p>
                <div style="position:relative;left:200px">
                  <%= link_to "Accepter", accept_owner_booking_path(booking), data: {turbo_method: :patch}, class: "btn btn-light"%>
                  <%= link_to "Décliner", decline_owner_booking_path(booking), data: {turbo_method: :patch}, class: "btn btn-light"%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
