<div class="container mt-3">
  <h2><%= @shark.name %></h2>
    <% if @shark.photos.attached? %>
      <% @shark.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "photo",height: 300, width: 400, crop: :fill %>
      <% end %>
    <% else %>
       <img class="photo" src="https://images.unsplash.com/photo-1544552866-d3ed42536cfd?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width=300px height=10% alt="">
       <img class="photo" src="https://images.unsplash.com/photo-1544552866-d3ed42536cfd?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width=300px height=10% alt="">
       <img class="photo" src="https://images.unsplash.com/photo-1544552866-d3ed42536cfd?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width=300px height=10% alt="">

    <% end %>


  <p><%= @shark.description %></p>
  <div class="form-container" style = "display: flex; justify-content: flex-end">
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit turpis cursus in hac habitasse platea dictumst quisque. Facilisis sed odio morbi quis commodo. Rutrum quisque non tellus orci ac auctor. Fames ac turpis egestas sed tempus urna et pharetra pharetra. Facilisis magna etiam tempor orci. Lacus vel facilisis volutpat est velit. Amet est placerat in egestas erat imperdiet sed euismod. Accumsan in nisl nisi scelerisque. Ipsum a arcu cursus vitae. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Semper risus in hendrerit gravida rutrum. At tellus at urna condimentum mattis pellentesque id. Elit scelerisque mauris pellentesque pulvinar pellentesque. Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Cursus eget nunc scelerisque viverra mauris. Morbi tristique senectus et netus. Pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Leo duis ut diam quam nulla porttitor.

      Integer vitae justo eget magna fermentum iaculis eu. Diam ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Elementum curabitur vitae nunc sed. Senectus et netus et malesuada fames. Non diam phasellus vestibulum lorem sed risus ultricies. Velit dignissim sodales ut eu. Nunc sed velit dignissim sodales. Vitae proin sagittis nisl rhoncus mattis rhoncus. Varius morbi enim nunc faucibus a pellentesque. Vestibulum mattis ullamcorper velit sed. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices.
    </div>
    <div class="large">
      <div class = "card-simple">
        <p><strong><%= @shark.price_per_day %></strong>€ par jour </p>
        <%= simple_form_for(@booking) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :start_date, html5: true %>
          <%= f.input :ending_date, html5: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "button-frozen", id: "btn-show"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
